@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body, html, #root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  background-color: #1F1F20;
  height: 100%;
}

.imageContainer {
  width: 100%;
  height: 100%;
  position: absolute;
}

.watermark {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  opacity: 0.5;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  text-align: right;
  padding: 2.5%;
}

.watermark-left {
  text-align: left;
}

.watermark-center {
  text-align: center;
}

.title {
  margin: 0 0 15px;
}

.photographer {
  margin: 0;
}

.image-enter {
  opacity: 0.01;
}

.image-enter.image-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.image-leave {
  opacity: 1;
}

.image-leave.image-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.slideButton {
  border: none;
  background: rgba(0, 0, 0, 0.3);
  padding: 10rem 1rem;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  cursor: pointer;
}

.slideButton:hover {
  opacity: 100;
}

.slideButton:focus {
  outline: none;
}

.slideButtonPrevious {
  position: absolute;
  top: calc(50% - 12rem);
  left: 0;
}

.slideButtonPrevious img {
  transform: scaleX(-1);
}

.slideButtonNext {
  position: absolute;
  top: calc(50% - 12rem);
  right: 0;
}

.buttonIcon {
  width: 4rem;
  height: 4rem;
}